@import url('vugofont/stylesheet.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
.boxshadow {
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.52);
}
@menuborder {
  border-bottom: solid 1px #0a2737;
}
@button-index-primary {
  border-radius: 10%;
  padding: 10px 15px;
  background: #43c5e6;
}
@button-index-secondary {
  border-radius: 10%;
  padding: 10px 15px;
  background: #000000;
}
/*Margins and paddings*/
.m-4 {
  margin: 1.5rem !important;
}
.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}
.m-5 {
  margin: 2rem !important;
}
.mt-5,
.my-5 {
  margin-top: 2rem !important;
}
.mr-5,
.mx-5 {
  margin-right: 2rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 2rem !important;
}
.ml-5,
.mx-5 {
  margin-left: 2rem !important;
}
.m-6 {
  margin: 2.5rem !important;
}
.mt-6,
.my-6 {
  margin-top: 2.5rem !important;
}
.mr-6,
.mx-6 {
  margin-right: 2.5rem !important;
}
.mb-6,
.my-6 {
  margin-bottom: 2.5rem !important;
}
.ml-6,
.mx-6 {
  margin-left: 2.5rem !important;
}
.m-7 {
  margin: 3rem !important;
}
.mt-7,
.my-7 {
  margin-top: 3rem !important;
}
.mr-7,
.mx-7 {
  margin-right: 3rem !important;
}
.mb-7,
.my-7 {
  margin-bottom: 3rem !important;
}
.ml-7,
.mx-7 {
  margin-left: 3rem !important;
}
.m-8 {
  margin: 3.5rem !important;
}
.mt-8,
.my-8 {
  margin-top: 3.5rem !important;
}
.mr-8,
.mx-8 {
  margin-right: 3.5rem !important;
}
.mb-8,
.my-8 {
  margin-bottom: 3.5rem !important;
}
.ml-8,
.mx-8 {
  margin-left: 3.5rem !important;
}
.m-9 {
  margin: 4rem !important;
}
.mt-9,
.my-9 {
  margin-top: 4rem !important;
}
.mr-9,
.mx-9 {
  margin-right: 4rem !important;
}
.mb-9,
.my-9 {
  margin-bottom: 4rem !important;
}
.ml-9,
.mx-9 {
  margin-left: 4rem !important;
}
.m-10 {
  margin: 4.5rem !important;
}
.mt-10,
.my-10 {
  margin-top: 4.5rem !important;
}
.mr-10,
.mx-10 {
  margin-right: 4.5rem !important;
}
.mb-10,
.my-10 {
  margin-bottom: 4.5rem !important;
}
.ml-10,
.mx-10 {
  margin-left: 4.5rem !important;
}
.m-11 {
  margin: 5rem !important;
}
.mt-11,
.my-11 {
  margin-top: 5rem !important;
}
.mr-11,
.mx-11 {
  margin-right: 5rem !important;
}
.mb-11,
.my-11 {
  margin-bottom: 5rem !important;
}
.ml-11,
.mx-11 {
  margin-left: 5rem !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}
.pl-0,
.px-0 {
  padding-left: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}
.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}
.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}
.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}
.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}
.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}
.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}
.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}
.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}
.p-5 {
  padding: 2rem !important;
}
.pt-5,
.py-5 {
  padding-top: 2rem !important;
}
.pr-5,
.px-5 {
  padding-right: 2rem !important;
}
.pb-5,
.py-5 {
  padding-bottom: 2rem !important;
}
.pl-5,
.px-5 {
  padding-left: 2rem !important;
}
.p-6 {
  padding: 2.5rem !important;
}
.pt-6,
.py-6 {
  padding-top: 2.5rem !important;
}
.pr-6,
.px-6 {
  padding-right: 2.5rem !important;
}
.pb-6,
.py-6 {
  padding-bottom: 2.5rem !important;
}
.pl-6,
.px-6 {
  padding-left: 2.5rem !important;
}
.p-7 {
  padding: 3rem !important;
}
.pt-7,
.py-7 {
  padding-top: 3rem !important;
}
.pr-7,
.px-7 {
  padding-right: 3rem !important;
}
.pb-7,
.py-7 {
  padding-bottom: 3rem !important;
}
.pl-7,
.px-7 {
  padding-left: 3rem !important;
}
.p-8 {
  padding: 3.5rem !important;
}
.pt-8,
.py-8 {
  padding-top: 3.5rem !important;
}
.pr-8,
.px-8 {
  padding-right: 3.5rem !important;
}
.pb-8,
.py-8 {
  padding-bottom: 3.5rem !important;
}
.pl-8,
.px-8 {
  padding-left: 3.5rem !important;
}
.p-9 {
  padding: 4rem !important;
}
.pt-9,
.py-9 {
  padding-top: 4rem !important;
}
.pr-9,
.px-9 {
  padding-right: 4rem !important;
}
.pb-9,
.py-9 {
  padding-bottom: 4rem !important;
}
.pl-9,
.px-9 {
  padding-left: 4rem !important;
}
.p-10 {
  padding: 4.5rem !important;
}
.pt-10,
.py-10 {
  padding-top: 4.5rem !important;
}
.pr-10,
.px-10 {
  padding-right: 4.5rem !important;
}
.pb-10,
.py-10 {
  padding-bottom: 4.5rem !important;
}
.pl-10,
.px-10 {
  padding-left: 4.5rem !important;
}
.p-11 {
  padding: 5rem !important;
}
.pt-11,
.py-11 {
  padding-top: 5rem !important;
}
.pr-11,
.px-11 {
  padding-right: 5rem !important;
}
.pb-11,
.py-11 {
  padding-bottom: 5rem !important;
}
.pl-11,
.px-11 {
  padding-left: 5rem !important;
}
.m-n1 {
  margin: -0.25rem !important;
}
.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important;
}
.mr-n1,
.mx-n1 {
  margin-right: -0.25rem !important;
}
.mb-n1,
.my-n1 {
  margin-bottom: -0.25rem !important;
}
.ml-n1,
.mx-n1 {
  margin-left: -0.25rem !important;
}
/*new*/
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptserif/v12/EJRVQgYoZZY2vCFuvDFR.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptserif/v12/EJRSQgYoZZY2vCFuvAnt65qV.ttf) format('truetype');
}
button {
  outline: none;
}
.btn {
  border-radius: 4px;
  padding: 12px 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  min-width: 200px;
  position: relative;
}
.btn span {
  right: 10px;
}
a:hover,
a:focus {
  text-decoration: none;
}
.btn-info {
  background: transparent !important;
  border: solid 1px #ffffff;
  color: #ffffff;
  transition: all 0.6s;
}
.btn-info:hover {
  color: #014980;
  border: solid 1px #014980;
}
.btn-primary {
  border: none;
  color: #ffffff;
  background: #258fff;
}
.btn-primary:hover {
  color: #ffffff;
  background: #0075f1;
}
.btn-contact {
  min-width: 300px;
  border: none;
  color: #ffffff;
  background: #06284e;
}
.btn-contact:hover {
  color: #ffffff;
  background: #0075f1;
}
.btn-primary-white {
  border: none;
  color: #258fff;
  background: #ffffff;
}
.btn-primary-white:hover {
  color: #258fff;
  background: #a2e4f2;
}
.btn-secondary {
  display: block;
  padding: 11px 14px;
  margin: 0px;
  border: none;
  color: #ffffff;
  background: #f1f4f9 !important;
}
.d-column {
  flex-direction: column;
}
/*
Template Name: Codefox Dashboard
Author: CoderThemes
Email: coderthemes@gmail.com
File: Responsive
*/
@media (min-width: 1200px) {
  .modal-content {
    overflow-y: auto;
    height: 400px;
  }
  .wrapper,
  .navbar,
  footer,
  #root {
    width: 1070px;
    margin: 0px auto;
  }
  .col-md-9 {
    width: 73%;
  }
  .right-section:nth-of-type(1) {
    padding-top: 5px;
    margin-top: 0px;
  }
  .content-page {
    margin-top: 30px;
  }
  .leftcontent {
    margin-left: -15px;
  }
  .politiqbox h2 {
    line-height: 54px !important;
  }
  body.enlarged {
    min-height: auto;
  }
  body {
    margin: 0px;
    padding: 0px;
  }
  .content-page .content {
    margin-top: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  .rightmenu {
    width: 240px !important;
  }
}
@media (max-width: 991px) {
  .rightmenu {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
}
@media (max-width: 768px) {
  .navbar-right {
    flex-direction: column;
    width: 100%;
  }
  .navbar-right li {
    flex: 1 100%;
    padding: 10px;
  }
  .navbar-right li a {
    font-weight: bold;
    transition: all 0.2;
    padding: 10px;
    display: block;
  }
  .navbar-right li a:focus {
    background: #ffffff;
  }
  .loginroot .footer {
    position: relative !important;
    bottom: auto;
    z-index: auto;
  }
  #signupsection,
  #loginsection {
    position: relative;
  }
  .button-menu-mobile {
    display: block;
    margin: 0px auto;
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 0px;
    background: #43c5e6;
    border-radius: 0px;
  }
  .logo {
    margin-top: 0px;
  }
  body {
    overflow-x: hidden;
  }
  .topbar-left {
    width: 70px !important;
  }
  .topbar-left i {
    display: block !important;
    line-height: 70px !important;
    height: 70px;
    width: 70px;
    margin: 0px auto;
    position: relative;
  }
  .content-page .content {
    margin-top: 70px;
  }
  .topbar .topbar-left {
    height: 70px;
  }
  .navbar-default {
    background-color: #ffffff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  }
  .navbar-nav.navbar-right {
    float: right;
  }
  .content-page {
    margin-left: 0 !important;
  }
  .enlarged .left.side-menu {
    margin-left: -72px;
  }
  .footer {
    left: 0 !important;
  }
  .mobile-sidebar {
    left: 0;
  }
  .mobile-content {
    left: 250px;
    right: -250px;
  }
  .wrapper-page {
    width: 90%;
  }
  .dataTables_wrapper .col-xs-6 {
    width: 100%;
    text-align: left;
  }
  div#datatable-buttons_info {
    float: none;
  }
  .ms-container {
    width: 100%;
  }
  .m-t-sm-50 {
    margin-top: 50px !important;
  }
}
@media (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
  }
  footer {
    padding-bottom: 60px !important;
    position: relative !important;
  }
  footer .nav li::before {
    display: none;
  }
  footer .nav li a {
    padding: 5px !important;
  }
  footer .nav li span {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    text-align: center;
  }
  .leftcontent {
    margin-bottom: 10px;
  }
  footer .nav {
    padding-top: 10px;
    float: none !important;
    display: block !important;
  }
  footer .navbar-right {
    float: none !important;
  }
  .whitebox {
    min-height: 200px !important;
    margin-bottom: 20px;
  }
  footer .nav li {
    float: none !important;
    display: block;
    width: 100%;
  }
  .hsContent {
    padding: 20px;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    left: auto;
    position: absolute;
    right: 0;
  }
  .navbar-nav .open .dropdown-menu li {
    display: block;
  }
  .dropdown-lg {
    width: 200px !important;
  }
  .user-box {
    float: left;
  }
  .dataTables_length {
    float: none;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .highlight {
    margin-top: 5px;
    display: block;
  }
  .logo-mobile {
    margin-top: -20px;
    display: block;
  }
  .topelements {
    padding: 0px !important;
    margin-top: 15px;
  }
  .logo {
    display: none;
  }
  .creditbalance {
    padding: 15px 0 0 0px !important;
    float: right !important;
  }
  .creditbalance a {
    padding-right: 20px !important;
    padding-top: 0px !important;
  }
  .buttonborder {
    border: 0 !important;
    padding: 0 !important;
  }
  .searchcredits {
    background: #0a2737;
    color: #ffffff;
    border-radius: 100%;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    display: inline-block;
  }
  .button-menu-mobile {
    display: block;
    margin: 0px auto;
    width: 70px;
    height: 70px;
    text-align: center;
  }
  .search-bar {
    display: none !important;
  }
}
@media (max-width: 420px) {
  .hide-phone {
    display: none !important;
  }
}
/* Container-alt */
@media (min-width: 768px) {
  .container-alt {
    width: 750px;
  }
  .nav-tabs.nav-justified > li > a {
    border-bottom: 2px solid #edf1f1;
  }
}
@media (min-width: 992px) {
  .container-alt {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-alt {
    width: 1170px;
  }
}
@media (max-width: 419px) {
  .hidden-xxs {
    display: none;
  }
  .publish {
    position: relative;
  }
  .privacylink {
    position: absolute;
    display: table-cell;
    width: 40px;
    left: -70px;
    top: 12px;
  }
  /* .publish{
	  
	height:90px;  
  }*/
  .fullpost {
    display: block;
    position: absolute;
    bottom: 0px;
    right: -10px;
    top: 65px;
  }
  footer .navbar-right {
    padding-top: 0px !important;
  }
  .topbar-left {
    width: 70px !important;
  }
  .logo .icon-c-logo {
    display: inline-block !important;
    line-height: 58px !important;
  }
  .logo span {
    /*display: none !important;*/
  }
  .wrapper-page .logo span {
    display: inline-block !important;
  }
  .content-page {
    margin-left: 70px;
  }
  .forced .side-menu.left {
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  }
  .enlarged .side-menu.left {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
  }
  .page-title {
    font-size: 15px;
    max-width: 250px;
    white-space: nowrap;
  }
  .navbar-default {
    padding: 0;
  }
  .navbar-default .navbar-left {
    padding-left: 0 !important;
  }
  .navbar-default .navbar-left li {
    padding: 0 5px;
  }
  .topbar-left {
    /* display: none;*/
  }
  .editable-responsive {
    overflow-x: auto;
  }
  .page-title-box .breadcrumb {
    display: none;
  }
  .navbar-nav .open .dropdown-menu {
    margin-right: -20px;
  }
  .user-box .dropdown-menu {
    margin-right: 0 !important;
  }
  .dropdown-lg {
    width: 200px !important;
  }
  .user-list .user-list-item .icon,
  .user-list .user-list-item .avatar {
    display: none;
  }
  .user-list .user-list-item .user-desc {
    margin-left: 0;
  }
}
